[Unit]
Description=Brings up a CAN interface

[Service]
Type=oneshot
RemainAfterExit=yes
EnvironmentFile=/etc/default/socketcan
ExecStart=/sbin/ip link set %I up type can bitrate $BITRATE_%I restart-ms $RESTARTMS_%I
ExecStop=/sbin/ip link set %I down

[Install]
WantedBy=multi-user.target
